<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Example </div>

                    <div class="card-body">
                        <!--I'm an example comdfdsponent.-->

                       <ul v-for="(mess,index) in results">
                       <li>{{ index+' : '+mess.name }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                'resul': "Hello World",
                'results': []
            }
        },
        mounted() {
            var url = "http://localhost/wizag/public/fetch/messages";

            axios.get(url).then(response => {
                this.results = response.data
            });
            console.log('Component mounted.')
        }

    }

    // var app = new Vue({
    //     el: '#apps',
    //     data: {
    //         resul: '',
    //         results: []
    //     },
    //     methods: {
    //         fetchMessages:function (event) {
    //             var url = "http://localhost/wizag/public/fetch/messages";
    //
    //             const self =this;
    //             $.get(url,function (response) {
    //                 // console.log(response);
    //                 console.log(response);
    //                 self.messages = response.data;
    //             });
    //
    //
    //         }
    //     }
    // });
    // app.fetchMessages();
</script>
