<template>
    <div class="container">
     <div class="row">

         <div class="col-md-4" v-for="store in stores">

             <div class="card card-blog" style="border-radius: 8px!important;">
                 <div class="card-image">
                     <a :href="home_url+'/store/'+store.username" >
                         <div class="img card-ad-cover" :style="{'background-image': 'url(' + store.logo + ')'}"   :title="store.title"></div>
                     </a>
                 </div>
                 <h5 class="store"  style="text-align: center; ">
                     <a  :href="home_url+'/store/'+store.username ">{{ store.title }}</a>
                 </h5>
             </div>
         </div>
     </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                'home_url': $("#root").data('root'),
                'stores': []
            }
        },
        mounted() {
            var url = $("#root").data('root')+"/api/stores";

            axios.get(url).then(response => {
                // console.log(response.data.stores.data);
                this.stores = response.data.stores.data
            });
            // console.log('Component mounted.'+url)
        }

    }
</script>