.categories, .new-products {
    border: 1px solid #999;
}

.categories h2 {
    font-size: 1.5em;
    color: #212121;
    margin: 0;
    padding: .5em;
    background: #f5f5f5;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
}

.filter-price h3 {
    background: none;
}

.categories ul.cate, .new-products-grids {
    padding: 2em;
}

.categories ul li {
    display: block;
    color: #999;
    font-size: 15px;
    margin-bottom: 1em;
}

.categories ul li a {
    color: #999;
    text-decoration: none;
}

.categories ul li a:hover {
    color: #3399cc;
}

.categories ul li span {
    float: right;
    /*margin-right: 25px;*/
}

ul.cate ul {
    margin-left: 2em;
}

ul.dropdown-menu1 li {
    display: block;
    font-size: 15px;
}

ul.dropdown-menu1 li a {
    color: #212121;
    text-decoration: none;
}

input#amount {
    outline: none;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.new-products-grid-left {
    float: left;
    width: 35%;
}

.new-products-grid-right {
    float: right;
    width: 60%;
}

i.fa.fa-arrow-right {

    color: #eb650c;
    margin-right: 10px;

}

.navigation .label, .navigation .badge {

    float: right;
    height: 20px;
    width: 20px;
    padding: 2px;

}

.badge-default {

    background-color: #999;
    border-color: #999;

}

.badge {

    letter-spacing: .1px;
    vertical-align: baseline;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 100px;

}

.badge, .btn-xs .badge {

    padding: 2px 6px 1px;

}

.badge {

    display: inline-block;
    min-width: 10px;
    padding: 1px 5px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    line-height: 1.5384616;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #999;
    border-radius: 10px;

}

.navigation-trigger {
    float: left;
    padding: 2rem 0.1rem 2rem 2.4rem;
    margin-left: -2rem;
    cursor: pointer;
    /*display: flex!important;*/
}

.navigation-trigger__inner, .navigation-trigger__line {
    width: 22px;
    left: 1px;
    transition: all .3s
}

.navigation-trigger__inner {
    position: relative
}

.navigation-trigger__inner:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    left: -11px;
    top: -14px;
    background-color: rgba(255, 255, 255, .25);
    border-radius: 50%;
    transition: all .3s;
    -webkit-transform: scale(0);
    transform: scale(0)
}

.navigation-trigger__line {
    height: 3px;
    background-color: #000000;
    display: block;
    position: relative
}

.navigation-trigger__line:not(:last-child) {
    margin-bottom: 3px
}

@media (max-width: 375px) {
    #categ {
        display: none;
    }

    .navigation-trigger {
        float: left;
        padding: 2rem 0.1rem 2rem 2.4rem;
        margin-left: -2rem;
        cursor: pointer;
        display: flex!important;
    }
}

@media (max-width: 1199.98px) {
    #categ {
        display: none;
    }
    .show {
        display: block !important;
        position: fixed;
        top: 90px;
        left: 4px;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 19;
        width: 285px;
        max-height: 700px;
        padding-right: 9px !important;
        background: #eee;
        /*box-shadow: 5px 0 10px rgba(0, 0, 0, .08);*/
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    .navigation-trigger {
        float: left;
        padding: 2rem 0.1rem 2rem 2.4rem;
        margin-left: -2rem;
        cursor: pointer;
        display: flex!important;

    }
}

.sidebar--hidden:not(.toggled) {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}

.show {
    display: block !important;
    /*position: fixed;*/
    /*top: 75px;*/
    left: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 19;
    width: 285px;
    max-height: 700px;
    /*box-shadow: 5px 0 10px rgba(0, 0, 0, .08);*/
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}