.cntct-form{
    border: 1px solid black;
    padding: 29px;
}
.cntct-outr{
}
.cntct-img > img{
    height: 190px;
    border-radius: 150px;
    margin-top: 100px;
    width: 185px;
}
.cntct-name{
    font-size: 35px;
}
.cntct-abt{
    text-align: center;
    font-size: 14px;
    margin: 10px 0 0 2px;
}
.cntct-socail {
    margin: 30px 0 0 0px;
}
.cntct-socail a{
    margin-left: 30px; 
}
.dark{
    font-size: 16px;
    color: #ed9614c7;
}
.cntct-frm-hd{
    font-size: 15px;
    font-style: italic;
    margin: 30px 0 19px 0;
}
.cntct-input{
    width: 100%;
    background-color: transparent;
    border: 0;
    height: 40px;
    border-bottom: 1px solid black;
}
.cntct-btn{
    font-style: normal;
    text-transform: uppercase;
    border: solid 1px black;
    height: 30px;
    position: relative;
    padding-top: 8px;
    padding-bottom: 25px;
    background-color: transparent;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    cursor: pointer;
}
.cntct-phone{
    margin:16px 0 0 25px;
}