.navbar-component > .navbar, .navbar.navbar-component {
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-default {

    background-color: #fff;
    border-color: transparent;

}
.navbar {

    border-radius: 4px;

}
.navbar-xs {

    min-height: 46px;

}

.navbar-xs, .navbar-xs .navbar-brand {

    height: 46px;

}
.navbar {

    padding-left: 2%;
    padding-right: 2%;

}
.navbar-component {

    border-radius: 3px;
    margin-bottom: 20px;

}
.navbar-component {

    border-radius: 3px;
    margin-bottom: 20px;

}
.navbar {

    margin-bottom: 0;

}
.navbar {

    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-top-width: 1px;
    border-right-color: transparent;
    border-right-width: 1px;
    border-bottom-color: transparent;
    border-bottom-width: 1px;
    border-left-color: transparent;
    border-left-width: 1px;
    z-index: 9;

}
